.legend {
  /* top: 125px; */
  position: fixed;
  padding: 7px;
  border: medium solid var(--border-gray);
  border-radius: 10px;
  margin: 20px 15px;
  text-align: left;
}

.legend-title {
  position: absolute;
  top: -16px;
  left: 5px;
  padding: 5px 5px 3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: white;
  border: medium solid var(--border-gray);
  border-radius: 8px;
}

#first-row {
  margin: 12px 0 10px 0;
  text-align: center;
  /* border: grey solid 2px; */
  /* border-radius: 5px; */
  border-bottom: var(--border-gray) solid 2px;
  padding: 5px 0 2px 0;
}

#phys-text {
  position: relative;
  margin: 0 10px 0 0;
  top: -17px;
}

#run-text {
  position: relative;
  top: -4px;
}

.row {
  position: relative;
  display: block;
}

.value {
  position: relative;
  margin: 0 0 0 10px;
  top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

/* Node View stuff down here */
.large-square {
  border: 50px solid;
  margin: 35px 10px;
  border-radius: 9px;
  float: left;
  position: relative;
}

.node-title {
  text-align: center;
  margin: 0;
  padding: 0 0 5px 0;
  display: block;
  border-bottom: medium solid black;
  font-family: Arial, Helvetica, sans-serif;
}
