@import './square.css';

.node-area{
  display: inline-block;
  margin: 10px 130px 0 215px;
  justify-content: center;
  text-align: center;
}

.cluster{
  display: inline-block;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  border: medium solid var(--border-gray);
  border-radius: 10px;
}

.cluster-nodelist{
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.counts_area {
  display: block;
}

.counts {
  display: inline-block;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
