@import url("https://fonts.googleapis.com/css?family=Lobster");

.header {
  width: 100%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  margin: 0 0 20px 0;
  background-color: var(--title-yellow);
}

.header-text {
  font-size: 4rem;
  color: var(--title-red);
  font-family: "Lobster";
  font-weight: bold;
  background-color: var(--title-yellow);
  cursor: pointer;
}

.header-link {
  text-decoration: none;
}

/* Settings Modal */

.settings {
  position: absolute;
  float: right;
  top: 1.75rem;
  right: 2.25rem;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1;
}

#settings-button {
  width: 45px;
  transition: all 0.27s ease;
  cursor: pointer;
}

#settings-button:hover {
  transform: scale(1.15) rotate(90deg);
}
#settings-button:active {
  transform: scale(1.3) rotate(90deg);
}

#settings-modal {
  /* width: 300px; */
  /* height: 200px; */
  background-color: white;
  padding: 10px;
  border: medium solid var(--border-gray);
  border-radius: 10px;
  /* margin: 2px; */
  /* top: em; */
  /* visibility: hidden;
    opacity: 0; */
  /* transform: scale(1) translateX(0) translateY(6rem); */
  transition: all 0.2s ease-out;
}

/* #settings-modal .modal.active {
    top: 7rem;
    transform: scale(1) translateX(0) translateY(0);
    opacity: 1;
    visibility: visible;
  } */

.settings-row {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.settings-row:first-child {
  margin: 0;
}

/* CHROME */
#slider {
  -webkit-appearance: none;
  outline: none;
  background: var(--blue);
  height: 6px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0 10px;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  margin: 0 0 0 10px;
}

/* FIREFOX */
#slider::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--blue);
  cursor: pointer;
  margin: 0 0 0 10px;
}

#slider::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: var(--blue);
  border-radius: 5px;
  margin: 0 0 0 10px;
}

#slider-output {
  display: inline-block;
  background: var(--blue);
  color: white;
  border-radius: 3px;
  width: 2rem;
  padding: 3px 7px;
  margin: 0px 10px;
  text-align: center;
  position: relative;
}
#slider-output::before {
  content: "";
  position: absolute;
  left: -12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 0;
  width: 0;
  border: solid 6px var(--blue);
  z-index: -1;
  border-top-color: white;
  border-bottom-color: white;
  border-left-color: white;
}
