.square {
  display: inline-block;
  border: 15px solid;
  border-radius: 8px;
  margin: 2px;
}

.square-border {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin: 2px;
  border-radius: 10px;
  background-color: transparent;
}

.master-square {
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  padding: 5px 15px;
}

.master-square-border{
  padding: 2px;
  display: block;
  margin: 0px 0px 10px 0px;
  border-radius: 9px;
  text-decoration: none;
}

.large-square {
  border: 50px solid;
  border-radius: 14px;
}

.large-square-border {
  display: inline-block;
  padding: 4px;
  margin: 35px 10px;
  border-radius: 18px;
}
